
  <!-- formulari per poder entrar una nova imatge-->
  <!-- es mostrarà tant si hi ha dades de gossos, com si no n'hi ha-->

<section class="formulari">
  <!--
      <h2>Afegir nova imatge</h2>

      <label>Ruta de la imatge: </label>
      <input type="text" [(ngModel)]="rutaImatge"><br><br>

      <label>Títol de la imatge: </label>
      <input type="text" [(ngModel)]="titolImatge"><br>

      <p>La ruta de les imatges és <em>img/nomImatge.extensió</em></p>-->

      <!--Amb un botó necessitem el servei de routing-->
      <button (click)="onNavigateAfegirImatge()">Afegir Imatge</button>
</section>

  <!--contingut-->
  <main>

    <h2>Els peluts</h2>

    <!--només si hi ha dades mostrarem les imatges -->
      @if (gossos().length > 0)
      {

        <!--barra lateral amb els thumbnails-->
        <aside class="barra-lateral">

          <ul>
            <!--@for (gos  of gossos; track $index) {-->
            <!-- ho passem a signal-->
            @for (gos  of gossos(); track $index) {
              <!--hem de controlar si l'usuari fa clic sobre una de les imatges-->
              <!-- per tant, afegim un esdeveniment clic-->
              <li>
                <!--<img src="{{gossos[$index]}}" (click)="onImageClick($index)">-->
                <!-- ho fem amb la nova sintaxi:-->
                  <img [src]="gos.url" (click)="onImageClick($index)">
              </li>
            }
          </ul>

          <button (click)="imatgeAleatoria()">Seleccionar</button>

        </aside>
      }
